---
layout: default
---

<a href="why.html" class="the-great-eye">&nbsp;</a>
  
</div>

<main class="text-white w-full md:w-[550px]">
  <div class="px-12 mt-12 w-full box-border h-full">
    <div class="border-white border w-full content-container">
        <div class="" x-cloak x-show="$store.nav.component == 1 || $store.nav.component == 4">

        <div class="content-list-medalion ">
          <div class="moon-container"></div>
        </div>
       <div class="content-list-page-decorator-1 move-decorator-1-animate"></div>
       <div class="content-list-page-decorator-2 move-decorator-2-animate"></div>
         <div class="content-list-outer">
            <div class="content-list-inner">
              <h1 class="content-list-header">Mixturer</h1>
              <ul class="drink-list">
                {% for drink in site.drinks %}
                <li class="drink-item" data-drink-no="{{drink.number}}">
                  <a href="{{drink.url}}">
                    <h4><span>{{drink.number}} </span> {{drink.name}}</h4>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>    
        </div>        
      </div>

      <div class="" x-cloak x-show="$store.nav.component == 2 || $store.nav.component == 6">
        <ul>
          {% for drink in site.bases %}
            <li class="drink-item" data-drink-no="{{drink.number}}">
              <a href="{{drink.url}}">
                <h4> {{drink.number}} - {{drink.name}}</h4>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="" x-cloak x-show="$store.nav.component == 5">
        <ul>
          {% for drink in site.decoctions %}
            <li class="drink-item" data-drink-no="{{drink.number}}">
              <a href="{{drink.url}}">
                <h4>{{drink.name}}<h4>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="" x-cloak x-show="$store.nav.component == 3">
        <ul>
          {% for drink in site.substantia %}
            <li class="drink-item" data-drink-no="{{drink.number}}">
              <a href="{{drink.url}}">
                <h4>{{drink.name}}<h4>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>

<nav class="flex-grow hidden md:block menu-container relative overflow-hidden" id="container">
  <div class="fixed left-[500px] -bottom-[150px]">
    <div class="absolute w-[55px] top-1/2 h-1 border bg-white"></div>
    <div class="ml-[50px]">
      <div class="menu-bg menu-outer-hexagon"></div>
      <div class="menu-outer-star menu-bg"></div>
      <div class="menu-inner-hexagon rotate-counter-16 menu-bg"></div>
      <div class="menu-inner-star rotate-counter-16 menu-bg"></div>
      <div class="menu-center-vortex rotate menu-bg"> </div>

      <div class="flex flex-col justify-center w-full h-full">
        <div class="w-[800px] h-[800px] relative flex-none" id="rotate">
          <div class="absolute w-[644px] h-[644px] left-[78px] top-[78px] border-4 box-border rounded-full"></div>
          {% for section in site.menu.sections %}
          <div class="absolute rounded-full bg-black w-44 border h-44 text-white flex flex-col justify-center items-center text-center menu-{{forloop.index}} menu-item" data-index="{{forloop.index}}" data-section="{{section.key}}" :style="{'transform': 'rotate('+$store.nav.angle+'deg)'}">
            {{section.label}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</nav>


    <script>
      document.addEventListener('alpine:init', function(){
        Alpine.store('nav', {
          component: 1, 
          angle: 0
        })
      })
    </script>

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        setupMenu(window)
      });
    </script>