---
---


.menu-container {
	position: rellative;
	width: 640px;
	height: 640px;
	border: 1px solid red;
	display: flex;
  	justify-content: center;
  	position: relative;
	div {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: 100%;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.menu-outer-6-circles {
		background-size: 100%;
		background-image: url('/assets/images/menu/menu-outer-6-circles.svg');
		z-index: 2;
	}
	.menu-outer-hexagon {
		background-size: 91%;
		background-image: url('/assets/images/menu/menu-outer-hexagon.svg');
	}
	.menu-outer-star {
		background-size: 91%;
		background-image: url('/assets/images/menu/menu-outer-star.svg');
	}


	.menu-inner-hexagon {
		background-size: 45%;
		background-image: url('/assets/images/menu/menu-inner-hexagon.svg');
	}
	.menu-inner-star {
		background-size: 45%;
		background-image: url('/assets/images/menu/menu-inner-star.svg');
	}

	.menu-center-vortex {
		background-size: 25%;
		background-image: url('/assets/images/menu/menu-center-vortex.svg');
	}
}


.rotate {
    -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

.rotate-12 {
    -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

 
.rotate-counter-16 {
	-webkit-animation:spin-counter 16s linear infinite;
    -moz-animation:spin-counter 16s linear infinite;
    animation:spin-counter 16s linear infinite;	
}



@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@keyframes spin-counter { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}
/* Occult keys */

.occult-keys-container {
	position: rellative;
	width: 316px;
	height: 316px;
	border: 1px solid yellow;
	display: flex;
  	justify-content: center;
  	position: relative;
	div {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: 100%;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.occult-keys-outer {
		background-size: 100%;
		background-image: url('/assets/images/occult-keys/occult-keys-outer.svg');
		z-index: 2;
	}

	.occult-keys-inner {
		background-size: 43%;
		background-image: url('/assets/images/occult-keys/occult-keys-inner.svg');
	}
	.occult-keys-inner-2 {
		background-size: 43%;
		background-image: url('/assets/images/occult-keys/occult-keys-inner-2.svg');
		z-index: 1;

	}
	.occult-keys-center {
		background-size: 9%;
		background-image: url('/assets/images/occult-keys/occult-keys-center.svg');
	}
}





/* Moon sprites */

.moon-container	{
	width: 300px;
	height: 300px;
	background-color: blue;
	background: url('/assets/images/moon-sprites.png') 0 0 no-repeat;
  animation: moonwalk 5s steps(23) infinite; /* The Animation */
}

@keyframes moonwalk {
  100% { background-position: 0 -6900px ; }
}





