---
---

.the-great-eye {
	display: block;
	position: absolute;
	top: 50px;
	left: 50%;
	width: 90px;
	height: 90px;
	marign-left: -45px;

	background-image: url('/assets/images/list-bg-eye.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.content-container {
	position: relative;
	widht: 400px;
	margin-top: 80px;

	.content-list-medalion {
	 	position: absolute;
	 	top: -55px;
	 	left:50%;
	    margin-left:-60px;
		width: 120px;
		height: 120px;
		border-radius: 80px;
		border: 3px solid #FFF;
		z-index: 2;
		padding: 10px;
		background-color: #000;
	}

	.content-list-medalion-mixturer {
		background-size: 60%;
		background-position: center center;
		background-repeat: no-repeat;	
		background-image: url('/assets/images/icons/icon-mixturer.svg');
	}

	.content-list-page-selector{
	    position: absolute;
  	 	bottom: 10%;
		right: -301px;
		width:  320px;
		height: 286px;
		background-size: 100%;
		background-image: url('/assets/images/selector-ring.svg');
	}
	.content-list-page-decorator-1 {
	    position: absolute;
	    top: 10%;
		right: -15px;
		width:  35px;
		height: 31px;
		background-size: 100%;
		background-image: url('/assets/images/content-area-decorator-1.svg');
	}
	.content-list-page-decorator-1 {
	    position: absolute;
	    top: 10%;
		right: -15px;
		width:  35px;
		height: 31px;
		background-size: 100%;
		background-image: url('/assets/images/content-area-decorator-1.svg');
	}
	.content-list-page-decorator-2 {
	    position: absolute;
	    bottom: 6%;
		left: -17px;
		width:  43px;
		height: 79px;
		background-size: 100%;
		background-image: url('/assets/images/content-area-decorator-2.svg');
	}
	
	.content-list-outer {
		border: 2px solid #FFF;
		padding: 4px;
		margin:  0px 0px;
	}
	.content-list-middle {
		border: 2px solid #FFF;
		padding: 4px;
		margin:  0px 0px;

	}
	.content-list-inner {
		border: 2px solid #FFF;
		min-height: 400px;
	}
	
	.content-list-header {

		font-family: louvette-banner, serif;
		margin: 90px 0px 30px 0px;
		text-align: center;
		font-size: 30px;
		font-weight: regular;
	}

	/* Mixtures page */
	.content-mixturer-page {
		font-family: aviano, serif;
		line-height: 32px;
		font-size: 22px;

		position: rellative;


		.ingredients-section {
			padding: 10%;
			background-color: #363636;
		}
		.description-section {
			padding: 10%;
			margin-bottom: 90px;

			p {
				margin-bottom: 22px;
			}
		}
		.drink-page-number-container {
			position: absolute;
			display: block;
			height: 86px;
			bottom: 14px;
			left: 0px;
			width: 100%;
			text-align: center;
			background-image: url('/assets/images/page-number-decorator.svg');
			background-repeat: no-repeat;
			background-size: 20%;
			background-position: top center;
			font-size: 30px;
			font-family: louvette-banner, serif;
			font-weight: 400;

			span {
				display: inline-block;
				padding-top: 22px;
			}


		}
	}
}

.drink-list {
	font-family: aviano, serif;
	margin: 0px 10% 80px 10%;
	.drink-item {
		padding-bottom: 9px;
		h4 {
		 	font-size: 16px;
		 	padding: 5px 0px;
		 
		}
		span {
			display: inline-block;
			box-sizing: border-box;
			width: 34px;
			height: 40px;
			line-height: 40px;
			background-image: url('/assets/images/list-bg-hex.svg');
			background-repeat: no-repeat;
			background-size: contain;
			font-size: 18px;
			text-align: center;
			margin-right: 10px;
			margin-left: 4px;
		}
		h4:hover {
			background-image: url('/assets/images/list-bg-hex.svg');
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

.menu-container {
	display: flex;
	justify-content: center;
  	position: relative;
  	font-family: louvette-banner, serif;


	.menu-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: 100%;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.menu-outer-6-circles {
		background-size: 100%;
		background-image: url('/assets/images/menu/menu-outer-6-circles.svg');
		z-index: 2;
	}
	.menu-outer-hexagon {
		background-size: 100%;
		background-image: url('/assets/images/menu/menu-outer-hexagon.svg');
	}
	.menu-outer-star {
		background-size: 91%;
		background-image: url('/assets/images/menu/menu-outer-star.svg');
	}


	.menu-inner-hexagon {
		background-size: 45%;
		background-image: url('/assets/images/menu/menu-inner-hexagon.svg');
	}
	.menu-inner-star {
		background-size: 45%;
		background-image: url('/assets/images/menu/menu-inner-star.svg');
	}

	.menu-center-vortex {
		background-size: 25%;
		background-image: url('/assets/images/menu/menu-center-vortex.svg');
	}
}


.rotate {
    -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

.rotate-12 {
    -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

 
.rotate-counter-16 {
	-webkit-animation:spin-counter 16s linear infinite;
    -moz-animation:spin-counter 16s linear infinite;
    animation:spin-counter 16s linear infinite;	
}


.move-decorator-1-animate {
	-webkit-animation:move-decorator 8s ease-in-out infinite;
    -moz-animation:move-decorator 8s ease-in-out infinite;
    animation:move-decorator 8s ease-in-out infinite;	
}


@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@keyframes spin-counter { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}


@keyframes move-decorator { 
 	0% {
		top: 10%;
 	}
 	50% {
 		top: 30%;
 	}
 	100% {
 		top: 10%;

 	}
}


/* Occult keys */

.occult-keys-container {
	position: rellative;
	width: 316px;
	height: 316px;
	display: flex;
  	justify-content: center;
  	position: relative;
	-webkit-transform-style: flat;
 	 -webkit-transform:  rotateX(22deg) rotateY(1deg);
  	transform-style: flat;
  transform:  rotateX(22deg) rotateY(1deg);

	div {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: 100%;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.occult-keys-outer {
		background-size: 100%;
		background-image: url('/assets/images/occult-keys/occult-keys-outer.svg');
		z-index: 2;
	}

	.occult-keys-inner {
		background-size: 43%;
		background-image: url('/assets/images/occult-keys/occult-keys-inner.svg');
	}
	.occult-keys-inner-2 {
		background-size: 43%;
		background-image: url('/assets/images/occult-keys/occult-keys-inner-2.svg');
		z-index: 1;

	}
	.occult-keys-center {
		background-size: 9%;
		background-image: url('/assets/images/occult-keys/occult-keys-center.svg');
	}
}


/* Stars circle */


.stars-container {
	position: fixed;
	top: 10px;
	right:  -400px;
	width: 1047px;
	height: 983px;
	display: flex;
  	justify-content: center;
  	position: relative;
	div {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: 100%;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.stars-outer {
		background-size: 100%;
		background-image: url('/assets/images/stars-circle/stars-outmost-star.svg');
		z-index: 1;
	}

	.stars-inner {
		background-size: 50%;	
		background-image: url('/assets/images/stars-circle/stars-inner-keys.svg');
		z-index: 3	
	}
	.stars-middle {
		background-size: 59%;
		background-image: url('/assets/images/stars-circle/stars-middle-circle.svg');
		z-index: 2;

	}

}







/* Moon sprites */

.moon-container	{
	height: 100px;
	width: 100px;
	background-color: blue;
	background: url('/assets/images/moon-sprites.png') 0 0 no-repeat;
	background-size: 100% auto;

  animation: moonwalk 5s steps(23) infinite; /* The Animation */
}

@keyframes moonwalk {
  100% { background-position: 0 -6900px ; }
}





