---
---

.mobile-menu-bg{
  &:before{
    content: ' '; 
    height:80%;
    position:absolute;
    left:50%;
    border:2px solid white;
    width:1px;
    top:20%;
  }
}

.mobile-menu-main-container{
  position:relative;

  &:before{
    content:' '; 
    position:absolute;
    border:2px solid white;
    top:0%;
    left:50%;
    height:100%;
    z-index: -1;
  }
}

.mobile-menu-section-header{
  position: relative;
  width:100%;
  background-color:black;

  &:before{
    content: ' '; 
    border:2px solid white;
    height:50%;
    left:calc(50% - 1px);
    top:0px;
    position:absolute;
    width:0px;
  }
}

.mobile-menu-item{
  border:3px solid white;
  border-radius:500px;
  position:absolute;
  width: 140px;
  height: 140px;
  box-sizing:border-box;
  cursor: pointer;
  background-color:black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  background-repeat:no-repeat;

  &.bg-icon-mixturer{
    background-size:62px 71px;
    background-position:center top 18px;
  }

  &.bg-icon-baser{
    background-size:76px 73px;    
    background-position:center top 22px;
  }

  &.bg-icon-dekokter{
    background-size:89px 89px;     
    background-position:center top 18px;
  }

  &.bg-icon-substantia{
    background-size:61px 70px;   
    background-position:center top 18px; 
  }

  &:first-child{
    top: 40px;
    left: calc(50% - 70px);
  }

  &:nth-child(2){
    top:calc(50% - 120px);
    left:20px;
  }

  &:nth-child(3){
    top:calc(50% - 120px);
    right:20px;
  }

  &:nth-child(4){
    top:calc(50% + 40px);
    left:calc(50% - 70px)
  }
}