---
---
body{
  background-color: red;
}


/*
font-family: louvette-banner, serif;
font-weight: 400;
font-style: normal;

Louvette Banner Italic

font-family: louvette-banner, serif;
font-weight: 400;
font-style: italic;

Louvette Banner Black

font-family: louvette-banner, serif;
font-weight: 700;
font-style: normal;

Louvette Banner Black Italic

font-family: louvette-banner, serif;
font-weight: 700;
font-style: italic;
*/