---
---
html, body {
	margin: 0px;
	padding: 0px;
}

body {
  background-color: #151515;
  font-family: aviano, serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}

h1, h2{
	font-weight: normal;
}

.page-container {
	background-image: url(); 
	width: 834px;
	margin: auto;
}

.drink-list-container{ 
	background-image: url('/assets/images/list-bg-eye.svg');
	background-repeat: no-repeat;
	background-position: center top -120px;
	background-size: 352px auto;

}

.drink-list-header {
	text-align: center;
	font-size: 50px;
	font-family: louvette-banner, serif;
	font-weight: 400;
	font-style: normal;
	padding: 54px 0px 77px 0px;

  a{text-decoration: none;color:inherit;}

	h2 {
		margin: 0px;
	}
}

.drink-list-content {
	ul{
		list-style-type: none;
	}

	li {
		a {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			color: #FFF;
			text-decoration: none;
		
	
			span {
				display: inline-block;
				width: 54px;
				min-height: 42px;
				background-image: url('/assets/images/list-bg-hex.svg');
				background-repeat: no-repeat;
				background-size: cover;
				font-size: 26px;
				text-align: center;
				padding-top: 18px;
				padding-bottom: 6px;
			}
			h4 {
				margin: 0px;
				padding-top: 18px;
				margin-left: 15px;
				font-size: 24px;
			}
		}
	}
}


.drink-page-header {
	text-align: center;
	font-size: 50px;
	font-family: louvette-banner, serif;
	font-weight: 400;
	font-style: normal;
	background-image: url('/assets/images/bg-drinkpage.svg');
	background-size: 100%;
	background-position: 0px -46px;
	height: 446px;
	width: 100%;
}

.drink-page-header-text{
	margin: 35px 0px 0px 0px;
	padding: 0px;
}

.drink-page-header-logo {
	margin-top: 50px;
}

.ingredients-section {
	background-color: hsla(0, 0%, 100%, 0.02);
	padding: 26px 60px 56px 120px; 
	font-size: 28px;

	h2 {
		margin: 0px;
		padding: 0px 0px 10px 0px;
	}

	ul, li {
		margin: 0px; 
		padding: 0px;
		padding-bottom: 4px;
		list-style-type: none;
	}

}

.description-section {
	padding: 60px 160px 120px 180px; 
	font-size: 24px;
	line-height: 32px;
}

.drink-page-number-container {
	position: fixed;
	display: block;
	height: 116px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	background-image: url('/assets/images/page-number-decorator.svg');
	background-repeat: no-repeat;
	background-position: top center;
	font-size: 30px;
	font-family: louvette-banner, serif;
	font-weight: 400;
	background-color: #151515;

	span {
		display: inline-block;
		padding-top: 22px;
	}


}
