---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.menu-1{
  left: 2px;
  top: 312px;
}

.menu-2{
  left: 156px;
  top: 43px;
}

.menu-3{
  left: 468px;
  top: 43px;
}

.menu-4{
  left:622px;
  top: 311px;
}

.menu-5{
  left: 466px;
  top: 580px;
}

.menu-6{
  left: 157px;
  top: 580px;
}

.looking-glass{
  top:  calc(50% - 96px);
  border: 8px solid rgba(255,255,255,0.8);
  width: 192px;
  height: 192px;
}

.looking-glass-outer{
  top:  calc(50% - 104px);
  border: 8px solid rgba(255,255,255,0.3);
  width: 208px;
  height: 208px;
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  opacity: 1;
}

.looking-glass-outer.faded{
  opacity: 0;
}