---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.menu-1{
  left: 2px;
  top: 312px;
}

.menu-2{
  left: 156px;
  top: 43px;
}

.menu-3{
  left: 468px;
  top: 43px;
}

.menu-4{
  left:622px;
  top: 311px;
}

.menu-5{
  left: 466px;
  top: 580px;
}

.menu-6{
  left: 157px;
  top: 580px;
}

.looking-glass{
  top:  calc(50% - 96px);
  border: 8px solid rgba(255,255,255,0.8);
  width: 192px;
  height: 192px;
}

.looking-glass-outer{
  top:  calc(50% - 104px);
  border: 8px solid rgba(255,255,255,0.3);
  width: 208px;
  height: 208px;
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  opacity: 1;
}

.looking-glass-outer.faded{
  opacity: 0;
}

.animation-slow{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 900ms;
}

.animation-medium{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 600ms;
}

.animation-fast{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 350ms;
}

.icon-mixturer{
  @apply bg-icon-mixtures;
  background-position: center top 30px;
}

.icon-baser{
  @apply bg-icon-bases;
  background-position: center top 30px;
}

.icon-substantia{
  @apply bg-icon-substantia;
  background-position: center top 30px;
}

.icon-dekokter{
  @apply bg-icon-decoctions;
  background-position: center top 20px;
}

@layer utilities{
  .three-border-wrap{
    @apply border border-2 border-white relative p-2.5;  
  }  

  .three-border-wrap:before{
    content:' '; 
    position:absolute;
    border:1px solid white;
    top:-10px;
    left:-10px;
    width:calc(100% + 20px);
    height:calc(100% + 20px);
    z-index: -1;
  }

  .three-border-wrap:after{
    content:' '; 
    position:absolute;
    pointer-events: none;
    border:2px solid white;
    top:8px;
    left:8px;
    width:calc(100% - 16px);
    height:calc(100% - 16px);
    z-index: -1;
  }

  .faded-circles{
    @apply border-3 border-white relative;      
  } 

  .faded-circles:before{
    content: ' ';
    position: absolute;
    background-color:rgba(255,255,255,0.6);
    width:calc(100% + 20px);
    height:calc(100% + 20px);
    border-radius:800px;
    top:-10px;
    left:-10px;
    z-index:-1;
  }

  .faded-circles:after{
    content: ' ';
    position: absolute;
    background-color:rgba(255,255,255,0.2);
    width:calc(100% + 40px);
    height:calc(100% + 40px);
    border-radius:800px;
    top:-20px;
    left:-20px;
    z-index:-1;
  }  
}

/* Slide up transition */
.slide-up-enter-from {
    transform: translate3d(0, 100%, 0);
}
.slide-up-enter-to {
    transform: translate3d(0, 0, 0);
}
.slide-up-leave-to {
    transform: translate3d(0, -100%, 0);
}
.slide-up-reverse-enter-from {
    transform: translate3d(0, -100%, 0);
}
.slide-up-reverse-enter-to {
    transform: translate3d(0, 0, 0);
}
.slide-up-reverse-leave-from {
    z-index: 1;
}
.slide-up-reverse-leave-to {
    transform: translate3d(0, 100%, 0);
    z-index: 1;
}

/* Slide down transition */
.slide-down-enter-from {
    transform: translate3d(0, -100%, 0);
}
.slide-down-enter-to {
    transform: translate3d(0, 0, 0);
}
.slide-down-leave-to {
    transform: translate3d(0, 0%, 0);
}
.slide-down-reverse-enter-from {
    transform: translate3d(0, 0%, 0);
}
.slide-down-reverse-enter-to {
    transform: translate3d(0, 0, 0);
}
.slide-down-reverse-leave-from {
    z-index: 1;
}
.slide-down-reverse-leave-to {
    transform: translate3d(0, -100%, 0);
    z-index: 1;
}

.mixture-list-decorator {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 42px;
  line-height: 65px;
  text-align: center;
  font-size: 12px;
  background-image: url('/assets/images/list-mixing-glas.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px;
}

.mixture-list-decorator:hover {
      background-image: url('/assets/images/list-mixing-glas-filled.svg');
      color: #000;
}

