---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.menu-1{
  left: 622px;
  top: 312px;
}

.menu-2{
  left: 467px;
  top: 580px;
}

.menu-3{
  left: 157px;
  top: 580px;
}

.menu-4{
  left: 2px;
  top: 312px;
}

.menu-5{
  left: 156px;
  top: 43px;
}

.menu-6{
  left: 467px;
  top: 43px;
}
