<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/znu8lis.css">

    <link rel="stylesheet" href="{{ "/assets/tailwind.css" | relative_url }}">
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"></script>

    <link rel="shortcut icon" href="/assets/images/favico/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/images/favico/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/assets/images/favico/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/assets/images/favico/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favico/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/images/favico/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favico/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favico/favicon-16.png">
    <link rel="apple-touch-icon" href="/assets/images/favico/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favico/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favico/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favico/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favico/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favico/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favico/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favico/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favico/favicon-180.png">
  </head>
  <body class="bg-black">
    <section class="w-full flex flex-row">
      <main class="text-white w-full sm:w-[500px] bg-green-200">
        {{ content }}
      </main>

      <nav class="bg-red-200 flex-grow hidden sm:block">
        Nav section here
      </nav>
    </section>    

  </body>
</html>