{% include header.html %}
  <body class="bg-black h-screen transition-transform" x-init="">    
    <section class="w-full flex flex-row items-stretch h-full">
      <main class="text-white w-full max-w-5xl relative">
        <div class="content-enclosure w-full px-12">
        <div class="content-container">
          <a href="/index.html">
            <div class="content-list-medalion content-list-medalion-mixturer"></div>
          </a>
	       <div class="content-list-outer">
		      <div class="content-list-middle">
            <div class="content-list-inner content-mixturer-page">			
              <section class="drink-page-header">
                <h2 class="drink-page-header-text content-list-header ">{{page.title}}</h2>
              </section>
				      <section class="ingredients-section">
                <h2>Recept</h2>
                  <ul>
                    {% for spirit in page.spirits %}
                    <li>{{spirit.amount}} <a href="{% link _bases/{{spirit.key}}.md %}">{{spirit.name}}</a></li>
                    {% endfor %}
                    {% for ingredient in page.ingredients %}
                    <li>{{ingredient}}</li>
                    {% endfor %}
                  </ul>
              </section>
              <section class="description-section">
                {{content}}
              </section>
              <div class="drink-page-number-container">
                <span>{{page.number}}</span>
              </div>
            </div>		
          </div>
        </div>
      </div>
    </main>
    <div class="occult-keys-container  hidden xl:flex" style="margin-left: 100px; opacity: 0.6; margin-top: 240px;">
      <div class="occult-keys-outer rotate"></div>
      <div class="occult-keys-inner-2 rotate-counter-16"></div>
      <div class="occult-keys-inner rotate-12"></div>
      <div class="occult-keys-center"></div>
    </div>
    </section>    
  </body>
{% include footer.html %}